module FuncBot
  module Functions
    class <%= class_name %>Function < BaseFunction
      def execute
        # Add your function logic here.
        # eg. data = {some: "data"}
        # JSON.dump(data)
      end
    end
  end
end